@model IEnumerable<_2013215462_ENT.Direccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentroAtencion.CentroAtencionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.CadenaUbigeo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CadenaUbigeo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CentroAtencionID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentroAtencion.CentroAtencionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito.CadenaUbigeo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CadenaUbigeo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentroAtencionID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DireccionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DireccionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DireccionID })
        </td>
    </tr>
}

</table>
